@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  @apply text-slate-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-width-none {
    scrollbar-width: none;
  }
  .scroll-container {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent;
  }

  .scroll-container:hover {
    scrollbar-color: rgba(136, 136, 136, 0.8) transparent; /* Firefox */
  }

  .scroll-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  .scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.8); /* 스크롤바 색상 */
    border-radius: 4px;
  }

  .scroll-container:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.8); /* hover 색상 */
  }
  ::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤 바 너비 */
    height: 8px; /* 가로 스크롤 바 높이 */
  }

  /* 스크롤 바의 트랙(배경) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* 스크롤 바의 핸들(이동할 때 잡는 부분) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* 스크롤 바의 핸들에 마우스를 올렸을 때 */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
